* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	color: #fff;
	font-family: 'Roboto';
	height: 100%;
}
body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
.page {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
._container {
	padding: 0 15px;
	max-width: 1270px;
	margin: 0 auto;
}

.header {
	background-color: #fff;
}
.header__container {
}
._container {
}
.header__body {
	min-height: 80px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 740px) {
	.header__body {
		justify-content: center;
	}
}
.header__logo {
	color: #000;
	font-family: 'Julius Sans One';
	font-size: 51px;

	text-decoration: none;
}
@media (max-width: 740px) {
	.header__logo {
		display: none;
	}
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	align-items: center;
}

.menu__item {
	min-width: 51px;
	padding: 9px 9px;
	border: 1px solid #000;
	border-radius: 50%;
	transition: all .3s ease 0s;
}
.menu__item:hover {
	transform: translateY(-3px);
}
.menu__item:not(:last-child) {
	margin-right: 50px;
}
@media (max-width: 740px) {
	.menu__item:not(:last-child) {
		margin-right: 30px;
	}
}
.menu__link:hover > .menu__item {
}
.menu__link svg{
	width: 28px;
	height: 28px;
}
.main-section {
	flex: 1 1 auto;
	background: #363636;
}
.work {
}
.work__container {
}
.work__body {
	padding: 47px 0 35px;
}
.work__top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 69.9px;
}
.top-work {
	min-width: 0;
}
.image-slider {
	max-width: 560px;
	overflow: hidden;
}
.swiper-container {
	position: relative;

}
.image-slider__wrapper {

}
.swiper-wrapper {

}
.image-slider__slide {
}
.swiper-slide {
	visibility: hidden;
	opacity: 0;

	transition: all .2s ease 0s;
}
.swiper-slide-active{
	visibility: visible;
	opacity: 1;
}
.swiper-prev {
	cursor: pointer;
	position: absolute;
	left: 13px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}
.swiper-next {
	cursor: pointer;
	position: absolute;
	right: 13px;
	top: 50%;
	transform: translateY(-50%);

	z-index: 2;
}

.swiper-prev svg,
.swiper-next svg {
	width: 16.74px;
	height: 27.90px;
}

.swiper-slide-prev .image-slider__image img,
.swiper-slide-next .image-slider__image img {
	border-radius: 20px;
}

.image-slider__image {
	border-radius: 20px;
	overflow: hidden;
}

.image-slider__image img{
	width: 100%;
	height: 100%;
	max-width: 601px;
	max-height: 746px;

	border-radius: 20px;
}
.top-work__text {
	max-width: 503px;
	margin-top: 9px;
}
.top-work__title {
	margin: 0 0 48px;

	font-size: 50px;
	font-weight: 700;
	line-height: 1.18;
}
.top-work__section p {
	max-width: 462px;
	display: inline-block;
	padding: 27px 15px 21px 20px;

	font-size: 29px;
	font-weight: 500;
	line-height: 1.17;

	background: rgba(255, 97, 192, 0.49);
	box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}
.top-work__section p:not(:last-child){
	margin-bottom: 23px;
}
.work__subtext {
	max-width: 1188px;
	margin: 0 auto;
	padding: 19px 36px 37px 53px;

	font-size: 22px;
	line-height: 132.69%;

	border-radius: 8px;
	background: rgba(0, 0, 0, 0.16);
}

.about {
}
.section-block {
	padding: 50px 0 30px;
}
.about__container {
}
.about__body {
	margin: 0 auto;
}
.about__title {
	color: rgb(116, 135, 245);
}
.title-block {
	margin: 0 0 30px;

	font-size: 50px;
	font-weight: 700;
}
.about__text {

}
.text-block {
	margin: 0 0 50px;

	font-size: 30px;
	line-height: 1.4;
}

.about__gallery {
}
.gallery {
}
.gallery__list {
	display: flex;
	flex-wrap: wrap;
}
.gallery__item:not(:last-child){
	margin: 0 30px 40px 0;
}
.gallery__item img{
	max-width: 350px;
	max-height: 400px;
}
.hobby {
}
.hobby__body {
}
.hobby__title {
	color: rgb(165, 242, 117);
}
.title-block {
}
.hobby__text {
}
.text-block {
}
.hobby__features {
	display: flex;
	flex-direction: column;

	color: rgb(176, 191, 114);
	font-size: 22px;
	letter-spacing: 1.5px;
	font-weight: 700;
}
.hobby__feature:not(:last-child) {
	margin-bottom: 32px;
}
.hobby__feature {
	padding: 0 0 0 45px;
	position: relative;
}
.hobby__feature:before {
	content: '👉';
	display: inline-block;
	position: absolute;
	top: 41%;
	transform: translateY(-50%);
	left: -5px;
}
.info__title {
	color: rgb(255, 176, 209);
}
.title-block {
}
.hobby__text {
	padding: 10px 30px 30px 25px;
	max-width: 750px;
	max-height: 300px;

	font-size: 30px;
	line-height: 1.7;

	border: 1px solid #fff;
	border-radius: 20px;
	overflow-y: scroll;
}
.text-block {
}
.info__contact {
	color: rgb(255, 242, 169);
	font-size: 25px;
	font-weight: 700;
}
.info__email {
	color: #fff;
	font-weight: normal;
	letter-spacing: 1.2px;
}